@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b2838;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

h1{
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;  
}

h2{
  text-align: center;
  padding-bottom: .8rem;
}

h3{
  padding-top: .5rem;
}

form{
  margin-bottom: 1rem;
  align-items: center;
  background-color: #171a21;
  border-radius: 21px;
  box-sizing: border-box;
  height: 31.25rem;
  padding: 1.25rem;
  width: 30rem;
}

input{
  height: 2.18rem;
  position: relative;
  width: 100%;
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 1.125rem;
  padding: .25rem 1.25rem 0;
}

button{
  background-color: #66c0f4;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #171a21;
  cursor: pointer;
  font-size: 1.125rem;
  height: 3.125rem;
  margin-top: 2.375rem;
  outline: 0;
  text-align: center;
  width: 100%;
}

button:active {
  background-color: #4a91bb;
}

table{
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 0.75rem 0.75rem 0 0;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.75rem rgba(32, 32, 32, .3);
  background-color: white;
  color: black;
  text-align: center;

}

th,td{
  padding: 0.75rem 0.938rem;
}

th{
  background-color: #2a475e;
  color: white;
  text-transform: uppercase;
}

tbody{
  background-color: #dbebf8;
}

tbody:nth-child(odd){
  background-color: #c7d5e0;
}

.app{
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;
}

.center{
  margin-left: auto;
  margin-right: auto;
}